@{
    ViewBag.Title = "Contact";
}

<h2>Contato</h2>

<address>
    DCC - UFLA
</address>

<address>
    <strong>Ângelo Savioti:</strong>   <a href="mailto:Support@example.com">angelo.savioti1@estudante.ufla.br</a><br />
</address>