@using AgendaContatos.Models

@{
    ViewBag.Title = "AdicionarContato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar contato</h2>
<form>
    <label>
        Nome:
        <input type="text" />
        <br />
        Número:
        <input type="text" />
        <br />
        <input type="submit" value="Cadastrar" />
    </label>
</form>

@{
    var novoContato = new Contato();
    
}